*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}

body{
   font-family:'Poppins',sans-serif;
}
body{
    overflow-x:hidden;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;
    background:#fff;
}

.logo{
    font-size:32px;
    font-weight:700;
    color:#111;
}

.logo span{
    color:#2d6a4f;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links a{
    text-decoration:none;
    color:#222;
    font-weight:500;
}

.nav-links a.active{
    color:#2d6a4f;
    position:relative;
}

.nav-links a.active::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-8px;

    width:100%;
    height:3px;

    background:#2d6a4f;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-right input{
    padding:10px 15px;
    border:1px solid #ddd;
    border-radius:8px;
    width:220px;
}

.cart{
    font-size:24px;
    cursor:pointer;
}

.menu-icon{
    font-size:28px;
    cursor:pointer;
}
.hero{
    background:#f8f5f0;

    display:flex;
    align-items:center;
    justify-content:space-between;

    
}
.hero{
    padding:70px 8% 30px;
}

.categories{
    padding:30px 8% 80px;
}

.hero-left{
    flex:1;
}

.hero-left h1{
    font-size:72px;
    line-height:1.1;
    color:#111;

    margin-bottom:20px;
}

.hero-left span{
    color:#2d6a4f;
}

.hero-left p{
    color:#555;
    font-size:18px;

    max-width:500px;
    line-height:1.8;

    margin-bottom:30px;
}

.hero-btns{
    display:flex;
    gap:15px;
}

.browse-btn{
    background:#2d6a4f;
    color:white;

    border:none;

    padding:14px 30px;

    border-radius:8px;

    cursor:pointer;
}

.category-btn{
    background:white;

    border:1px solid #2d6a4f;

    color:#2d6a4f;

    padding:14px 30px;

    border-radius:8px;

    cursor:pointer;
}

.hero-right{
    flex:1;
    text-align:right;
}

.hero-right img{
    width:100%;
    max-width:750px;
}

@media(max-width:768px){
	.nav-links{
		display:none;
	}
	.search-box{
		display:none;
	}
}
@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-left h1{
    font-size:45px;
}

.hero-btns{
    justify-content:center;
    flex-wrap:wrap;
}

.hero-right{
    margin-top:40px;
}

}

.hero-stats{
    display:flex;
    gap:30px;
    margin-top:40px;
    flex-wrap:wrap;
}

.stat{
    display:flex;
    align-items:center;
    gap:12px;
}

.stat span{
    width:50px;
    height:50px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#e9f5ee;
    border-radius:50%;

    font-size:24px;
}

.stat h3{
    font-size:24px;
    color:#111;
}

.stat p{
    font-size:20px;
    color:#666;
}
#themeToggle{
    border:none;
    background:#2d6a4f;
    color:white;
    padding:10px 14px;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}
.dark-mode{
    background:black;
    color:white;
}
.dark-mode .navbar{
    background:#1a1a1a;
}

.dark-mode .hero{
    background:#222;
}

.dark-mode .hero h1{
    color:white;
}

.dark-mode .logo{
    color:white;
}

.dark-mode .nav-links a{
    color:white;
}
.categories{
    text-align:center;
}
.categories{
    padding-top: 10px;
    padding-bottom: 20px;
}

.featured-books{
    padding:20px 8% 80px;
}
.categories h2{
    font-size:42px;
    margin-bottom:20px;
    color:#111;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-top: 0;
}

.category-card{
    background:white;
    padding:35px 20px;
    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,0.08);

    cursor:pointer;

    transition:0.3s;
}

.category-card:hover{
    transform:translateY(-10px);
}

.icon{
    font-size:45px;
    margin-bottom:15px;
}

.category-card h3{
    font-size:22px;
}
@media(max-width:768px){

    .category-grid{
        grid-template-columns:1fr;
    }

}
.dark-mode .categories{
    background:#181818;
}

.dark-mode .categories h2{
    color:white;
}

.dark-mode .category-card{
    background:#222;
    color:white;
}
.icon{
    width:70px;
    height:70px;

    margin:auto;

    border-radius:50%;

    background:#e8f5ee;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:34px;
}
.category-grid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:20px;
}

.category-card{
    background:white;
    padding:25px 15px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}

.category-card:hover{
    transform:translateY(-8px);
}

.category-card h3{
    margin-top:15px;
    font-size:22px;
}

.category-card p{
    font-size:15px;
    color:#666;
    margin-top:8px;
}
@media(max-width:768px){

.category-grid{
    grid-template-columns:repeat(2,1fr);
}

}
@media(max-width:992px){

.category-grid{
    grid-template-columns:repeat(3,1fr);
}

}
.featured-books{
    padding:20px 8% 80px;
    text-align:center;
}

.featured-books h2{
    font-size:42px;
    margin-bottom:30px;
}

.books-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:40px;
}

.book-card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}
.books-grid{
    display:flex;
    gap:50px;
    overflow-x:auto;
    padding-bottom:10px;
}

.book-card{
    min-width:220px;
    flex-shrink:0;
}
.book-card:hover{
    transform:translateY(-8px);
}

.book-card img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:10px;
}

.book-card h3{
    margin-top:15px;
}

.book-card p{
    color:#666;
    margin:10px 0;
}

.book-card span{
    display:block;
    margin-bottom:15px;
}

.book-card button{
    background:#2d6a4f;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}
@media(max-width:992px){

    .books-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:768px){

    .books-grid{
        grid-template-columns:1fr;
    }

}
.dark-mode .featured-books{
    background:#181818;
}

.dark-mode .featured-books h2{
    color:white;
}

.dark-mode .book-card{
    background:#222;
    color:white;
}

.dark-mode .book-card p{
    color:#ccc;
}

.testimonials{
    padding:30px 8% 70px;
    text-align:center;
}

.testimonials h2{
    font-size:42px;
    margin-bottom:20px;
    margin-top: 28px;
}

.testimonial-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.testimonial-card{
    background:white;
    padding:30px;
    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

    transition:0.3s;
}

.testimonial-card:hover{
    transform:translateY(-8px);
}

.testimonial-card p{
    color:#555;
    line-height:1.7;
    margin-bottom:20px;
}

.testimonial-card h4{
    margin-bottom:10px;
}
.testimonial-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.testimonial-card{
    background:white;
    padding:30px;
    border-radius:18px;

    box-shadow:0 8px 25px rgba(0,0,0,0.08);

    transition:0.3s;
}

.testimonial-card:hover{
    transform:translateY(-8px);
}

.user{
    width:60px;
    height:60px;

    margin:auto;

    border-radius:50%;

    background:#fdf2e9;
    display:flex;
    align-items:center;
    justify-content:center;

    font-size:28px;

    margin-bottom:15px;
}

.testimonial-card p{
    color:#555;
    line-height:1.7;
    margin-bottom:15px;
}

.testimonial-card h4{
    margin-bottom:8px;
}
@media(max-width:768px){

.testimonial-grid{
    grid-template-columns:1fr;
}

}
.dark-mode .testimonials{
    background:#181818;
}

.dark-mode .testimonials h2{
    color:white;
}

.dark-mode .testimonial-card{
    background:#222;
    color:white;
}

.dark-mode .testimonial-card p{
    color:#ccc;
}
.stats-section{
    background:#e8f5ee;

    border-radius:20px;

    margin:30px 8%;

    padding:10px;

    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
}

.stat-box{
    text-align:center;
}

.stat-box span{
    font-size:32px;
    display:block;
    margin-bottom:10px;
}

.stat-box h3{
    font-size:30px;
    color:#2d6a4f;
    margin-bottom:5px;
}

.stat-box p{
    color:#555;
    font-size:14px;
}
@media(max-width:768px){

.stats-section{
    gap:25px;
}

.stat-box{
    width:45%;
}

}
.dark-mode .stats-section{
    background:#1f2a24;
}

.dark-mode .stat-box{
    background:transparent;
}

.dark-mode .stat-box h3{
    color:#7ee2a8;
}

.dark-mode .stat-box p{
    color:#d0d0d0;
}
.featured-books{
    padding:15px 8% 20px;
}

.stats-section{
    margin:0 8%;
}

.testimonials{
    padding:0 8% 70px;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}


/* MOBILE */

@media(max-width:768px){

    .footer-container{
        grid-template-columns:1fr;
    }

    .subscribe-box{
        flex-direction:column;
        gap:10px;
    }

    .subscribe-box input,
    .subscribe-box button{
        width:100%;
        border-radius:8px;
    }

}

/* DARK MODE */

body.dark-mode .footer{
    background:#0f172a;
}

body.dark-mode .footer-col p,
body.dark-mode .footer-col ul li a,
body.dark-mode .footer-bottom{
    color:#cbd5e1;
}

@media (max-width:768px){

    .navbar{
        padding:12px 15px;
    }

    .logo{
        font-size:24px;
    }

    .nav-links{
        display:none;
    }

    .nav-right input{
        display:none;
    }

    .nav-right{
        gap:10px;
    }

    .cart{
        font-size:18px;
    }

    #themeToggle{
        padding:8px 10px;
        font-size:16px;
    }

    .menu-icon{
        font-size:22px;
    }

    .hero{
        flex-direction:column;
        padding:30px 20px;
    }

    .hero-left{
        width:100%;
        text-align:center;
    }

    .hero-left h1{
        font-size:42px;
    }

    .hero-left p{
        max-width:100%;
        font-size:16px;
    }

    .hero-btns{
        justify-content:center;
    }

    .hero-stats{
        justify-content:center;
    }

   .hero-right{
    width:100%;
    text-align:center;
    margin-top:40px;
}

.hero-right img{
    width:100%;
    max-width:450px;
    display:block;
    margin:auto;
}

}
@media (max-width:768px){

    .categories{
        padding:20px 15px;
    }

    .category-grid{
        grid-template-columns:repeat(2,1fr) !important;
        gap:15px;
        width:100%;
    }

    .category-card{
        width:100%;
    }

}
.footer{
    background: linear-gradient(
        135deg,
        #0b3d2e,
        #14532d
    );
    color: white;
    padding: 60px 8% 25px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.footer .logo{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
}

.footer .logo h2{
    color:white;
    font-size:30px;
}

.logo-icon{
    font-size:32px;
}

.footer-col h3{
    margin-bottom:18px;
    font-size:20px;
    color:white;
}

.footer-col p{
    color:#d6e8de;
    line-height:1.8;
}

.footer-col ul{
    list-style:none;
}

.footer-col ul li{
    margin-bottom:12px;
}

.footer-col ul li a{
    text-decoration:none;
    color:#d6e8de;
    transition:0.3s;
}

.footer-col ul li a:hover{
    color:#8ff0b6;
}

.social-icons{
    display:flex;
    gap:12px;
    margin-top:20px;
}

.social-icons a{
    width:42px;
    height:42px;
    border-radius:50%;
    background:rgba(255,255,255,0.12);
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.social-icons a:hover{
    transform:translateY(-4px);
}

.subscribe-box{
    display:flex;
    margin-top:15px;
}

.subscribe-box input{
    flex:1;
    padding:12px;
    border:none;
    outline:none;
    border-radius:8px 0 0 8px;
}

.subscribe-box button{
    background:#2d6a4f;
    color:white;
    border:none;
    padding:12px 20px;
    cursor:pointer;
    border-radius:0 8px 8px 0;
    font-weight:600;
}

.subscribe-box button:hover{
    background:#3d8b68;
}

.footer-bottom{
    text-align:center;
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,0.15);
    color:#d6e8de;
}
@media(max-width:768px){

    .footer{
        padding:40px 20px 20px;
    }

    .footer-container{
        grid-template-columns:1fr;
        gap:30px;
        text-align:center;
    }

    .footer .logo{
        justify-content:center;
    }

    .social-icons{
        justify-content:center;
    }

    .subscribe-box{
        flex-direction:column;
        gap:10px;
    }

    .subscribe-box input,
    .subscribe-box button{
        width:100%;
        border-radius:8px;
    }

}
body.dark-mode .footer{
    background: linear-gradient(
        135deg,
        #020617,
        #111827
    );
}

body.dark-mode .footer-col p,
body.dark-mode .footer-col ul li a,
body.dark-mode .footer-bottom{
    color:#cbd5e1;
}

body.dark-mode .subscribe-box input{
    background:#1e293b;
    color:white;
}

body.dark-mode .subscribe-box button{
    background:#22c55e;
}
